[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
click = "*"
itsdangerous = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
flynt = "*"
bandit = "*"

[dev-packages]
black = "==21.6b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
